<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="username">Имя игрока 1</label>  
        <input type="text" id="name1" name="name1">  
        <label for="password">Имя игрока 2</label>  
        <input type="text" id="name2" name="name2">  
        <button type="submit">начать</button>
    </form>
</body>
</html>