<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Ошибка {{ code }}</title>
</head>
<body>
    <div class="error-container">
        <h1 class="error-code">{{ code }}</h1>
        <p class="error-message">{{ message }}</p>
        
        <div class="main-buttons">
            <a href="/" class="back-button">
                <button>Вернуться на главную</button>
            </a>
        </div>
    </div>
</body>
</html>